<h1>Landmarks Index</h1>

<table>
  <th>Name</th>
  <th>Year Completed</th>
  <tr>
    <% @landmarks.each do |landmark| %>
      <td><a href="/landmarks/<%= landmark.id %>"><%= landmark.name %></a></td>

      <td><%= landmark.year_completed %></td>
  </tr>
  <% end %>
<table>
<br>

<a href="landmarks/new" class="button">Create New Landmark</a><br>
<a href="/figures" class="button">View Figures</a><br>
<a href="/" class="button">Go Home</a><br>